.tilt-button {
  border-bottom: 2px solid transparent;
  transition: 0.15s ease-in-out;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  min-width: 108px;
  text-align: center;
  color: darken($color: #b2e5fb, $amount: 25);
  &.button-light {
    color: rgba(255, 255, 255, 0.85);
    background-color: #323031;
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.25);
  }

  &.button-dark {
    // color: white;
    background-color: transparent;
    box-shadow: 0px 0px 1px 3px #b2e5fb;
  }

  &.activeTab {
    border-bottom: 2px solid rgba(245, 197, 24, 1);
  }
}


.folded-tabs {
  .tilt-button {
    // box-shadow: none;

    &.button-light {
      box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.25);
    }
  
    &.button-dark {
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    }
  }
}