.navbar {
  background-color: #fff;
  padding: 0 20px;
  .menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    background-color: transparent;
    padding: 2px;
    &:hover {
      fill: gold;
    }
  }

  .navbar-utils {
    width: 80%;
    padding: 5px;
    .utils-user-icon {
      transition: 0.2s ease-in-out;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

      &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
      }
    }

    .settings-icon {
      width: 35px;
      height: 35px;
      margin-right: 30px;
      transition: 0.25s ease-in-out;
      transform: rotate(0deg);
      cursor: pointer;
      &:hover {
        fill: darken($color: $clr1, $amount: 10%);
        transform: rotate(135deg) scale3d(1.15, 1.15, 1.15) perspective(1000px);
      }
    }

    .notifications-icon {
      width: 35px;
      height: 35px;
      cursor: pointer;
      margin-right: 30px;
      &:hover {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }
}
