.dashboard {
    background-color: #f5f7fa;
    padding: 20px;
    .dashboard-header {
        font-size: 24px;
        color: #343852;
        font-weight: 700;
    }

    & > *:not(last-of-type) {
        margin-bottom: 20px;
    }

    .dashboard-stats-container {

        & > *:not(last-of-type) {

            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
}