* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  transition: 0.5s cubic-bezier(0.3, 0.45, 0.05, 1);
  overflow: hidden;
  .app-main {
    width: 100vw;
    transform: translateX(-200px);
    transition: 0.5s cubic-bezier(0.3, 0.45, 0.05, 1);
    display: grid;
    grid-template-rows: 60px 1fr;
  }

  &.open-menu {
    grid-template-columns: 200px 1fr;
    .app-main {
      transform: translateX(0px);
      width: calc(100vw - 200px);
    }
  }
  
}

body,
html {
  margin: 0;

}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
